.navbar
{
    background-color: rgb(189, 129, 245);
    /* position: sticky; */
}
.homelink
{
    text-decoration: none;
    color:  rgb(72, 255, 0);   
}

.homelink:hover
{
    text-decoration: none;
    color:  rgb(255, 187, 0);   
}

.item
{
    color:  rgb(72, 255, 0); 
    text-decoration: none;
}
.item:hover
{
    text-decoration: none;
    color:  rgb(255, 187, 0);  
}