
<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
    </style>

<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        
            
              <a class="navbar-brand" >
                <img src="assets/images/logo.png" alt="" width="90" height="60" style="border-radius:20px;">
              </a>
            
        
      <a class="navbar-brand" href="#" style="color: blue;font-family:'Oswald';"><b>EVERY SHOPS</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="margin-top: 1.5px;">
            <a class="homelink" routerLink="/home" routerLinkActive="list-item-active" aria-current="page" >Home</a>
          </li>

          <li class="nav-item dropdown"  style="margin-left: 20px;margin-top: 2px;">
            <a class="item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mobiles
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Apple</a></li>
              <li><a class="dropdown-item" href="#">Realme</a></li>
              <li><a class="dropdown-item" href="#">Xiome/Redime</a></li>
              <li><a class="dropdown-item" href="#">Samsung</a></li>
              <li><a class="dropdown-item" href="#">Vivo</a></li>
              <li><a class="dropdown-item" href="#">Oppo</a></li>
              <li><a class="dropdown-item" href="#">IQOO</a></li>
              <li><a class="dropdown-item" href="#">Moto</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Other Products</a></li>
              
            </ul>
          </li>

          <li class="nav-item dropdown"  style="margin-left: 20px;margin-top: 2px;">
            <a class="item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Electronics
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Laptops</a></li>
              <li><a class="dropdown-item" href="#">Desktops</a></li>
              <li><a class="dropdown-item" href="#">Headphones/Earphones</a></li>
              <li><a class="dropdown-item" href="#">Tablets</a></li>
              <li><a class="dropdown-item" href="#">Camera</a></li>
              <li><a class="dropdown-item" href="#">ACs</a></li>
              <li><a class="dropdown-item" href="#">Refrigerator</a></li>
              <li><a class="dropdown-item" href="#">Washing Machine</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Other Electronic Items</a></li>
              
            </ul>
          </li>

          <li class="nav-item dropdown"  style="margin-left: 20px;margin-top: 2px;">
            <a class="item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fashions
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Men's Top Wear</a></li>
              <li><a class="dropdown-item" href="#">Men's Bottom Wear</a></li>
              <li><a class="dropdown-item" href="#">Women Ethnic</a></li>
              <li><a class="dropdown-item" href="#">Women's Sarees</a></li>
              <li><a class="dropdown-item" href="#">Winter</a></li>
              <li><a class="dropdown-item" href="#">Summer</a></li>              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Other Items</a></li>
            </ul>
          </li>
<!--           
          <li class="nav-item dropdown" style="margin-left: 20px;margin-top: 2px;">
            <a class="categories dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <li><a style="color: rgb(52, 113, 247);" class="dropdown-item" href="#" >Electronics</a></li>
              <li class="nav-item dropdown-submenu">
                <a style="color: rgb(52, 113, 247);" class="dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="true" href="#">Clothes</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a href="">Traditional</a></li>
                </ul>
              </li>
              <li><hr class="dropdown-divider"></li>
               -->
            <!-- </ul>
          </li>   -->



        </ul>
<!-- 
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Services</span> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">Service A</a></li>
                  <li><a href="#">Service B</a></li>
                  <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Service C</span><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Service C1</a></li>
                          <li><a href="#">Service C2</a></li>
                          <li><a href="#">Service C3</a></li>
                          <li><a href="#">Service C4</a></li>
                          <li><a href="#">Service C5</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul> -->
                                  

        <form class="d-flex">
          <input style="border-radius: 30px;" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>




<router-outlet></router-outlet>
